.jumboCopy {
    width: 75%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
    color: black;
  }
  .jumbotron {
  background-image: url(images/logo-blank.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(75vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
    background: url(images/nav.png);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
}
.slides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.problem {
    font-family: 'Montserrat', sans-serif;
    color: #86A557;
    font-size: 25px;
}
.solution {
    font-family: 'Montserrat', sans-serif;
    color: #86A557;
    font-size: 25px;
}
h2 {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: #86A557;
    display: flex;
    justify-content: center;
}
.nav-link {
    color: white;
}